* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: whitesmoke;
	background-color: rgb(19, 79, 92);
}

h2 {
	font-size: 2.25em;
	font-weight: 200;
	margin: 0 auto;
	padding-bottom: 8px;
	margin-bottom: 60px;
	border-bottom: 4px solid rgb(223, 162, 20);
}

p {
	font-size: 1.1em;
}

.section {
	margin-bottom: 120px;
}

/* style for navigation bar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.navbar .collapse.navbar-collapse {
	justify-content: flex-end;
}

.navbar .navbar-brand {
	font-family: "Pacifico", cursive;
	font-size: 1.5em;
}

.navbar .nav-item {
	font-size: 1.1em;
	padding: 0 5px;
}

.navbar .nav-item .nav-link:hover::after {
	display: block;
	content: "";
	width: 100%;
	margin-bottom: -5px;
	border-bottom: 2.5px solid rgb(223, 162, 20);
}
/* ------------------------------------- */

/* style for jumbotron */
.jumbotron {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 875px;
	background-image: url(../img/jumbotron.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
}

.jumbotron img {
	margin: 10px;
	border: 5px solid whitesmoke;
}

.jumbotron p {
	font-size: 1.2em;
}
/* ------------------------------------- */

/* style for slider */
.slider .container-fluid {
	padding: 30px 0;
	background-color: rgb(223, 162, 20);
}

.slider .d-block.w-75 {
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 2.5px rgba(70, 70, 70, 0.5);
}

.slider .carousel-control-next {
	margin-right: 10%;
}

.slider .carousel-control-prev {
	margin-left: 10%;
}

.slider p {
	font-weight: 200;
}
/* ------------------------------------- */

/* style for about me */
.about .container .row:nth-of-type(2),
.about .container .row:nth-of-type(3) {
	text-align: center;
	justify-content: center;
	margin-bottom: 25px;
}

.about .container .row:nth-of-type(2) {
	flex-direction: column;
}

.about img {
	border: 5px solid whitesmoke;
	border-radius: 50%;
}
/* ------------------------------------- */

.card {
	background-color: rgb(223, 162, 20);
	line-height: 22px;
}

/* style for services */
.services .card {
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	border: 0;
	margin-bottom: 50px;
	transition: all 0.5s ease;
	box-shadow: 0px 20px 3px -10px rgba(215, 215, 215, 0.6);
}

.services .card:hover {
	transform: translateY(-18px);
	box-shadow: 0px 40px 6px -22px rgba(209, 209, 209, 0.5);
}

.services .card small {
	display: block;
	padding-bottom: 10px;
	color: rgb(19, 79, 92);
}

.services .card-body {
	min-height: 225px;
}

.services p {
	font-weight: 200;
}
/* ------------------------------------- */

.list-group .list-group-item {
	background-color: rgb(223, 162, 20);
}

/* style for contact */
.contact p {
	font-weight: 200;
}
/* ------------------------------------- */

/* style for footer */
.footer {
	letter-spacing: 1px;
}

.footer p {
	margin: 2px;
	font-size: 0.9em;
}

.footer .foo a {
	font-weight: bold;
	text-decoration: none;
	color: whitesmoke;
}

.footer .foo {
	padding: 30px 0;
	text-align: center;
}

.footer .foo .social-media {
	padding: 5px 0;
}

.footer .foo .social-media a {
	padding: 0 5px;
}

.footer .foo .social-media a i {
	border-radius: 50%;
	font-size: 22px;
	padding: 3px;
}

.footer .foo .social-media a i:hover {
	background-color: rgb(223, 162, 20);
}
/* ------------------------------------- */

/* style for biograpjy */
.bio .container .card {
	overflow: hidden;
}

.bio {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(70, 70, 70, 0.5);
	z-index: 999;
}

.bio .container {
	display: flex;
	justify-content: center;
	align-content: flex-end;
	z-index: 999;
}

.bio .container .card {
	margin-top: 10ch;
}

.bio:target {
	display: block;
}

.bio img {
	border-radius: 50%;
	border: 5px solid whitesmoke;
}

/* responsive break point */
@media screen and (max-width: 768px) {
	.services .container {
		padding: 0px 10%;
	}

	.jumbotron h1 {
		font-size: 2em;
	}

	.jumbotron p {
		font-size: 0.95em;
	}
}
