* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
	background-color: rgb(224, 178, 109);
	color: #da8627;
}

nav {
	display: flex;
	height: 50px;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(197, 117, 25);
}

.logo h4 {
	font-family: "Pacifico", cursive;
	font-size: 22px;
	filter: drop-shadow(1px 0px 0.5px whitesmoke)
		drop-shadow(-1px 0px 0.5px whitesmoke)
		drop-shadow(0px 1px 0.5px whitesmoke)
		drop-shadow(0px -1px 0.5px whitesmoke);
}

ul {
	list-style: none;
	display: flex;
	width: 45%;
	justify-content: space-between;
}

ul li a {
	font-size: 1em;
	text-decoration: none;
	color: #ffc65d;
}

ul li a:hover {
	color: #ffe7b9;
}

/* hamburger menu */
.toggle-menu {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}

.toggle-menu span {
	border-radius: 2.5px;
	display: block;
	width: 25px;
	height: 3px;
	background-color: #fdc357;
	transition: all 0.5s ease;
}

.toggle-menu input {
	position: absolute;
	height: 25px;
	width: 30px;
	top: -2.5px;
	left: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 999;
}

/* hamburger menu animation */
/* ubah poros rotasi span anak ke 2 menjadi x = 0 dan y = 0 (kiri atas)*/
.toggle-menu span:nth-child(2) {
	transform-origin: 0 0;
}

/* saat input pada class toggle-menu di checklist ubah style span anak ke 2 dari class toggle-menu */
.toggle-menu input:checked ~ span:nth-child(2) {
	box-shadow: 0px 0px 1px 0.5px whitesmoke;
	background-color: #fdeac7;
	transform: rotate(45deg);
}

/* ubah poros rotasi span anak ke 4 menjadi x = 0 dan y = 100% (kiri bawah)*/
.toggle-menu span:nth-child(4) {
	transform-origin: 0 100%;
}

/* saat input pada class toggle-menu di checklist ubah style span anak ke 4 dari class toggle-menu */
.toggle-menu input:checked ~ span:nth-child(4) {
	box-shadow: 0px 0px 1px 0.5px whitesmoke;
	background-color: #fdeac7;
	transform: rotate(-45deg);
}

/* saat input pada class toggle-menu di checklist ubah style span anak ke 3 dari class toggle-menu */
.toggle-menu input:checked ~ span:nth-child(3) {
	transform: scale(0);
}

/* responsive */
/* tablet mode */
@media screen and (max-width: 768px) {
	ul {
		width: 55%;
	}
}

/* mobile mode */
@media screen and (max-width: 576px) {
	ul {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		background-color: rgb(197, 117, 25);
		width: 250px;
		z-index: -999;
		transform: translateX(100%);
		transition: all 0.5s ease;
	}

	ul.slide {
		transform: translateX(0%);
	}

	.toggle-menu {
		display: flex;
		margin-left: 75px;
	}
}
