/* Style for : index04.html */

/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* micro clear fix */

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* main */

body {
	font-family: "Open Sans", calibri, sans-serif;
	font-size: 18px;
	text-align: center;
	color: whitesmoke;
	background-color: rgb(32, 198, 201);
}

h1 {
	margin: 15px auto;
	font-size: 40px;
	font-weight: bold;
}

.container {
	box-sizing: border-box;
	border-radius: 15px;
	margin: 0 auto;
	padding: 10px;
	width: 450px;
	background-color: rgba(124, 124, 124, 0.2);
}

.container-blur {
	filter: blur(1.5px);
}

.card {
	width: 350px;
	height: 111px;
	margin: 30px auto;
	border-radius: 55px;
	line-height: 20px;
	position: relative;
	opacity: 0;
	background-color: rgb(255, 255, 255);
}

.card img {
	cursor: pointer;
	max-width: 100px;
	max-height: 100px;
	position: relative;
	float: left;
	border-radius: 50%;
	border: 5px solid whitesmoke;
	background-color: grey;
	z-index: 9;
}

.name,
.phone {
	position: relative;
	display: block;
	top: 35px;
	padding: 0 50px;
}

.name {
	font-weight: bold;
	color: rgb(56, 56, 56);
}

.phone {
	font-size: 16px;
	color: grey;
}

.close {
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 45px;
	left: 310px;
	transform: scale(0.95);
	color: rgba(128, 128, 128, 0.4);
	transition: all 0.5s ease;
}

.close:hover {
	transform: scale(1);
	color: red;
}

.name,
.phone,
.close {
	/* user-select: make text non-copyable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

button {
	font-family: proxima nova, calibri, sans-serif;
	font-weight: bold;
	font-size: 18px;
	border-radius: 55px;
	border-color: transparent;
	appearance: none;
	outline: none;
	cursor: pointer;
	margin: 0 0 10px;
	width: 350px;
	height: 40px;
	color: rgb(56, 56, 56);
}

button.add,
button.submit {
	background-color: whitesmoke;
}

button.exit {
	color: rgb(255, 255, 255);
	background-color: rgb(59, 59, 59);
}

@keyframes card-animation {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* register and remove profile style */

div.register,
div.clear {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

.register div,
.clear div {
	box-sizing: border-box;
	position: fixed;
	margin: auto;
	line-height: 50px;
	text-align: left;
	padding: 20px 50px 50px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 400px;
	height: 360px;
	border-radius: 20px;
	background-color: rgba(75, 75, 75, 0.8);
}

div.clear div {
	height: 200px;
	line-height: 30px;
	text-align: center;
}

p {
	font-weight: bold;
	font-size: 24px;
}

.submit,
.exit {
	width: 35%;
	margin: 20px;
}

label,
input {
	display: block;
	appearance: none;
	outline: none;
	border: none;
	height: 30px;
	width: 300px;
	margin: 10px 0 10px;
}

label {
	font-weight: bold;
	margin-bottom: 20px;
}

input {
	font-size: 18px;
	color: whitesmoke;
	background-color: transparent;
	border-bottom: 1px solid whitesmoke;
}

input:focus {
	border-bottom: 2.5px solid whitesmoke;
}

::placeholder {
	color: rgba(245, 245, 245, 0.65);
	opacity: 1;
}
