$lightTextColor: #ffffff;
$secondaryTextColor: #6c757d;
$darkTextColor: #2f312e;

$lightBackgroundColor: #ffffff;
$secondaryBackgroundColor: #f2f4f3;
$darkBackgroundColor: #432818;

$accentColorGrey: #343a40;
$accentColorDark: #212529;
