// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

// variables
@import "variables";

// styles
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

::placeholder {
	opacity: 0.5 !important;
	color: $lightTextColor !important;
}

html {
	position: relative;
	z-index: 999;
	overflow-x: hidden !important;

	body {
		font-family: "Montserrat", sans-serif;
		font-size: 16px;
		color: $lightTextColor;
		overflow-x: hidden !important;

		section {
			padding-top: 100px;
			padding-bottom: 160px;

			.social-media * {
				color: $lightTextColor;
			}
		}

		// background
		.bg-default {
			background-color: $darkBackgroundColor;
			background-image: url(../img/cinnamon-1.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			z-index: -999;
			top: 0;
			left: 0;
			width: 100%;
			height: 200vmax;
		}

		// navbar
		.navbar {
			.nav-container {
				font-weight: 500;
				font-size: 1rem;

				.navbar-brand {
					margin-top: -20px;

					.nav-icon-title {
						font-weight: 700;
						color: $lightTextColor;
					}
				}

				#navbarSupportedContent {
					margin-left: 40px;

					.navbar-nav {
						.nav-item {
							.nav-link {
								&::after {
									content: "";
									display: inline-block;
									width: 100%;
									height: 100%;
									margin-bottom: 12px;
									border-bottom: 2px solid $lightTextColor;
									transform: scaleX(0);
									transition: all 0.3s ease;
									transform-origin: left;
								}

								&:hover {
									color: $lightTextColor;
								}

								&:hover::after {
									transform: scaleX(1);
								}
							}
						}
					}

					.search-box {
						display: flex;
						align-items: center;
						position: relative;

						.search-field {
							border: none;
							font-size: 0.8rem;
							padding: 18px;
							border-radius: 40px;
							width: 1px;
							height: 1.6em;
							color: $lightTextColor;
							background-color: rgba($secondaryTextColor, 0.5);
							transition: all 0.5s ease;
						}

						.search-icon {
							padding: 10px;
							position: absolute;
							cursor: pointer;
							transition: all 0.75s ease;
						}

						// .search-field toggle class
						.open-close {
							width: 22vmax !important;
							padding: 18px 32px;

							@media screen and (max-width: 992px) {
								width: 100% !important;
							}
						}

						// .search-icon toggle class
						.rotate {
							transform: rotate(360deg);
						}
					}
				}
			}
		}

		// jumbotron
		.jumbotron {
			height: 666px;
			overflow: hidden;

			.btn-readmore {
				font-size: 1.2rem;
				font-weight: 400;
				border-radius: 6px;
				border: 2px solid;
				padding: 10px 20px;
				transition: all 0.3s ease;
			}
		}

		// about
		.about {
			color: $darkTextColor;
			background-color: $lightBackgroundColor;

			.fa-chevron-circle-left,
			.fa-chevron-circle-right {
				color: $secondaryTextColor;
			}

			.img-cinnamon-about {
				max-width: 28vw;
				margin: 12px;
				border-radius: 12px;
				filter: drop-shadow(4px 4px 4px rgba(160, 160, 160, 0.5))
					drop-shadow(-2px -2px 2px rgba(160, 160, 160, 0.75));
			}

			.carousel-control-prev,
			.carousel-control-next {
				width: 12%;
			}
		}

		// product
		.product {
			color: $darkTextColor;
			background-color: $secondaryBackgroundColor;

			.gallery-product {
				display: grid;
				grid-template-areas:
					"gal-1 gal-3 gal-2"
					"gal-4 gal-3 gal-5"
					"gal-6 gal-6 gal-5";
				grid-template-columns: repeat(auto-fit, 1fr);
				grid-template-rows: repeat(auto-fit, 1fr);
				gap: 15px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 12px;
					box-shadow: 0 0 5px 2.5px rgba(160, 160, 160, 0.7);
					transform: scale(1);
					transition: all 0.3s ease;
				}

				img:hover {
					box-shadow: 0 0 10px 5px rgba(160, 160, 160, 0.4);
					transform: scale(1.02);
				}

				.gal-1 {
					grid-area: gal-1;
				}

				.gal-2 {
					grid-area: gal-2;
				}

				.gal-3 {
					grid-area: gal-3;
				}

				.gal-4 {
					grid-area: gal-4;
				}

				.gal-5 {
					grid-area: gal-5;
				}

				.gal-6 {
					grid-area: gal-6;
				}
			}

			.btn-contact-us {
				font-size: 1rem;
				font-weight: 400;
				border-radius: 6px;
				border: 2px solid;
				padding: 6px 12px;
				transition: all 0.3s ease;
			}

			.img-cinnamon-product {
				width: 100%;
				height: auto;
				margin-top: -16px;
			}
		}

		// feature
		.feature {
			background-color: $darkBackgroundColor;
		}

		// team
		.team {
			background-color: $darkBackgroundColor;
			background-image: url(../img/cinnamon-7.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: top;
			background-repeat: no-repeat;

			.img-profile {
				width: 10em;
				border: 2px solid $lightTextColor;
				border-radius: 50%;
				filter: drop-shadow(6px 6px 4px rgba(223, 223, 223, 0.5))
					drop-shadow(-3px -3px 2px rgba(214, 214, 214, 0.5));
				transform: scale(1);
				transition: all 0.3s ease;
			}

			.img-profile:hover {
				transform: scale(1.02);
			}

			blockquote::before,
			blockquote::after {
				content: open-quote;
				font-size: 2em;
				line-height: 0;
				position: relative;
				top: 10px;
			}

			blockquote::after {
				content: close-quote;
			}
		}

		// contact
		.contact {
			padding-bottom: 100px !important;
			background-color: $accentColorGrey;
		}

		// footer
		.footer {
			background-color: $accentColorDark;

			.copyright {
				font-weight: 600;
				font-size: 0.8rem;
			}
		}

		// scroll to top button effect
		.section-on-top-btn {
			display: none;
		}

		.scroll-top-btn {
			display: flex;
			position: fixed;
			cursor: pointer;
			font-size: 1.5em;
			bottom: 4vh;
			right: 4vw;
			width: 44px;
			height: 44px;
			border-radius: 50%;
			color: $lightTextColor;
			background: $secondaryTextColor;
			transition: all 0.3s ease;
			animation: button-scroll-top 3s ease infinite;
		}

		.scroll-top-btn i {
			margin: auto;
			padding: 4px;
		}

		.scroll-top-btn:hover {
			animation: none;
			box-shadow: 0px 0px 10px 2px rgba(245, 245, 245, 0.5);
			opacity: 1;
		}

		@keyframes button-scroll-top {
			0% {
				opacity: 0;
			}
			30% {
				opacity: 1;
			}
			70% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
}

// responsive breakpoints
@import "responsive";
