/* Responsive breakpoint */

/* Extra large devices */
@media screen and (max-width: 1200px) {
	.nav-list {
		width: 43%;
	}
}

/* Large devices */
@media (min-width: 769px) and (max-width: 992px) {
	.nav-list {
		width: 50%;
	}
}

/* Medium devices */
@media screen and (max-width: 768px) {
	header,
	footer,
	.mission {
		padding-left: 24px;
		padding-right: 24px;
	}

	.navbar {
		justify-content: space-between;
	}

	.nav-list {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100vh;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background-color: #252d29;
		z-index: 0;
		transform: translateX(100%);
		transition: all 0.4s ease;
	}

	.nav-list.slide {
		transform: translateX(0);
	}

	.nav-menu-toggle {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
