/* fix-footer */
html {
	position: relative;
}

body {
	background-color: rgb(19, 79, 92);
	font-family: "Poppins", sans-serif;
	margin-bottom: 260px;
	color: whitesmoke;
	margin: 0;
	padding: 0;
}

/* style for jumbotron */
.jumbotron {
	border-radius: 0;
	margin: 50px 0 0;
	text-align: center;
	background-color: transparent;
	background-image: url(img/jumbotron.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron img {
	margin: 5px;
	border: 5px solid whitesmoke;
}
/* ------------------------------------- */

/* style for slider */
.slider .container-fluid {
	margin-bottom: 25px;
	padding: 30px 0;
	background-color: rgb(211, 150, 9);
}

.slider .d-block.w-75 {
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 3px rgba(245, 245, 245, 0.5);
}
/* ------------------------------------- */

/* style for navigation bar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.navbar .navbar-brand {
	font-family: "Pacifico", cursive;
	font-size: 1.5em;
}

.navbar .nav-item {
	padding: 0 5px;
}

.navbar .nav-item:hover a {
	border-bottom: 2px solid rgb(211, 150, 9);
}
/* ------------------------------------- */

hr {
	width: 175px;
	border-top: 4px solid rgb(211, 150, 9);
}

.container {
	margin: 40px auto;
}

/* style for about me */
.about .container .row:nth-of-type(2),
.about .container .row:nth-of-type(3) {
	text-align: center;
	justify-content: center;
	margin: 10px auto;
}

.about .container .row:nth-of-type(2) {
	flex-direction: column;
}

.about img {
	border: 5px solid whitesmoke;
	border-radius: 50%;
	cursor: pointer;
}
/* ------------------------------------- */
.card {
	background-color: rgb(211, 150, 9);
	border-radius: 7.5px;
	line-height: 18px;
}

/* style for portfolio */
.portfolio .card {
	overflow: hidden;
	margin-bottom: 30px;
	border: 0;
	transition: all 0.5s ease;
	cursor: pointer;
}

.portfolio .card:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 5px 2.5px rgba(170, 170, 170, 0.5);
}

.portfolio .container .row:nth-of-type(2) .col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
/* ------------------------------------- */

/* style for contact */
.contact .list-group .list-group-item {
	background-color: rgb(211, 150, 9);
}

.contact .list-group {
	border-radius: 7.5px;
}

.contact {
	margin-bottom: 450px;
}

/* ------------------------------------- */

/* style for footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 260px;
	background-color: #343a40;
}

footer h3 {
	font-size: 24px;
}

footer .container .row:nth-of-type(2) .col,
footer .container .row:nth-of-type(3) {
	display: flex;
	justify-content: center;
}

footer .container .row:nth-of-type(2) .col a {
	padding: 5px 25px;
}

footer .container .row:nth-of-type(3) {
	padding: 5px 25px;
	flex-direction: column;
	align-items: center;
}

footer .container .row:nth-of-type(3) p a {
	color: rgb(211, 150, 9);
}

/* ------------------------------------- */
