/* fix-footer */
html {
	position: relative;
}

body {
	background-color: rgb(19, 79, 92);
	font-family: "Poppins", sans-serif;
	margin-bottom: 200px;
	color: whitesmoke;
}

/* style for jumbotron */
.jumbotron {
	border-radius: 0;
	text-align: center;
	background-color: transparent;
	margin-bottom: 0;
}

.jumbotron img {
	margin: 5px;
	border: 5px solid whitesmoke;
	border-radius: 50%;
}
/* ------------------------------------- */

/* style for navigation bar */
.d-block.w-75 {
	margin: 10px auto;
	box-shadow: 0px 0px 10px 3px rgba(245, 245, 245, 0.5);
}

.navbar-brand {
	font-family: "Pacifico", cursive;
	font-size: 1.5em;
}

.nav-item {
	padding: 0 5px;
}

.nav-item:hover a {
	border-bottom: 2px solid rgb(211, 150, 9);
}
/* ------------------------------------- */

.container-fluid {
	margin: 25px auto;
	padding: 30px 0;
	background-color: rgb(211, 150, 9);
}

.container {
	margin: 40px auto;
}

hr {
	width: 12%;
	border-top: 4px solid rgb(211, 150, 9);
}

.about .container .row:nth-of-type(2) {
	text-align: justify;
	justify-content: center;
}

.card {
	background-color: rgb(211, 150, 9);
}

/* style for portfolio */
.portfolio .card {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
	border: 0;
	transition: all 0.5s ease;
}

.portfolio .card:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 5px 2.5px rgba(245, 245, 245, 0.5);
}

.portfolio .container .row:nth-of-type(2) .col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card-text {
	line-height: 18px;
}
/* ------------------------------------- */

/* style for contact */
.contact .list-group .list-group-item {
	background-color: rgb(211, 150, 9);
}

.contact {
	margin-bottom: 400px;
}
/* ------------------------------------- */

/* style for footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #343a40;
}

footer h3 {
	font-size: 24px;
}

footer .container .row:nth-of-type(2) .col {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer .container .row:nth-of-type(2) .col a {
	padding: 0px 20px;
}
/* ------------------------------------- */
