/* style umum */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: whitesmoke;
	background-color: rgb(48, 48, 48);
}

h2 {
	font-size: 2.5em;
}

p {
	font-weight: 300;
}

p .covid,
p .indo {
	font-weight: 700;
	text-transform: uppercase;
}

p .covid {
	color: rgb(219, 16, 16);
}

img {
	max-width: 170px;
}

.container {
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 600px;
	padding: 15px;
	border: 2.5px solid whitesmoke;
}

/* style for header */
.header {
	text-align: center;
	display: grid;
	grid-template-areas:
		"image title"
		"image disease"
		"image sub-title";
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	margin-bottom: 50px;
}

.header .corona-image {
	grid-area: image;
}

.header .title {
	grid-area: title;
}

.header .disease {
	grid-area: disease;
	display: inline-block;
	overflow: hidden;
	text-transform: uppercase;
	color: rgb(219, 16, 16);
	animation: title-animation 5s 5s ease 5 forwards;
}

.header .disease::after {
	content: "|";
	color: rgb(219, 16, 16);
	animation: title-blink 1.5s ease infinite;
}

.header .sub-title {
	grid-area: sub-title;
}

/* style for main */
.main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin-bottom: 250px;
}

.main .btn {
	font-family: "Poppins", sans-serif;
	margin-top: 20px;
	padding: 8px 25px;
	border-radius: 40px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	color: rgb(48, 48, 48);
	background-color: whitesmoke;
}

.main .result {
	width: 75%;
	height: 120px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 10px;
	color: rgb(48, 48, 48);
	background-color: whitesmoke;
}

.main .result p {
	font-size: 1.1em;
	font-weight: 500;
}

.main label,
.main .result,
.main .tip {
	margin-bottom: 15px;
}

.main label {
	font-family: "Poppins", sans-serif;
	font-size: 1.4em;
	font-weight: 500;
	text-align: center;
}

.main .provinsi {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	width: 75%;
	height: 25px;
	padding: 18px;
	padding-left: 40px;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	border-radius: 5px;
	border: none;
	background-color: whitesmoke;
	background-image: url(../css/Picture1.png);
	background-repeat: no-repeat;
	background-size: 28px;
	background-position: 5px 3px;
}

/* style for footer */
.footer {
	letter-spacing: 1px;
}
.footer .foo a {
	font-weight: bold;
	text-decoration: none;
	color: whitesmoke;
}

.footer .foo {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px 0;
	text-align: center;
	background-color: rgb(122, 122, 122);
}

.footer .foo small {
	display: block;
}

.footer .foo .social-media {
	padding: 5px 0;
}

.footer .foo .social-media a {
	padding: 0 5px;
}

.footer .foo .social-media a i {
	border-radius: 50%;
	font-size: 22px;
	padding: 2px;
}

.footer .foo .social-media a i:hover {
	background-color: rgb(219, 16, 16);
}

/* responsive breakpoint */
@media screen and (max-width: 687px) {
	.container {
		border: none;
	}

	.header {
		grid-template-areas:
			"image"
			"title"
			"disease"
			"sub-title";
		grid-template-columns: minmax(250px, 1fr);
	}

	.main .result,
	.main .provinsi {
		width: 90%;
	}

	img {
		max-width: 200px;
	}
}

/* animation for title*/
@keyframes title-animation {
	0% {
		width: 0ch;
	}

	20% {
		width: 4ch;
	}

	60% {
		width: 10ch;
	}
}

@keyframes title-blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
