/* general style */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: whitesmoke;
	background-color: rgb(19, 79, 92);
}

h1 {
	margin: 0;
}

h2 {
	font-size: 2.25em;
	font-weight: 200;
	margin: 0 auto;
	padding-bottom: 8px;
	margin-bottom: 60px;
	border-bottom: 4px solid rgb(223, 162, 20);
}

p {
	font-size: 1.1em;
}

.section {
	padding: 100px 0px;
}

.card {
	background-color: rgb(223, 162, 20);
	line-height: 22px;
}

.jumbotron,
.section.about {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.list-group .list-group-item {
	background-color: rgb(223, 162, 20);
}
/* ------------------------------------- */

/* style for navigation bar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.navbar .collapse.navbar-collapse {
	justify-content: flex-end;
}

.navbar .navbar-brand {
	font-family: "Pacifico", cursive;
	font-size: 1.5em;
}

.navbar .nav-item {
	font-size: 1.1em;
	padding: 0 5px;
}

.navbar .nav-item .nav-link:hover::after {
	display: block;
	content: "";
	width: 100%;
	margin-bottom: -5px;
	border-bottom: 2.5px solid rgb(223, 162, 20);
}
/* ------------------------------------- */

/* style for jumbotron */
.jumbotron {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 850px;
	background-image: url(../img/jumbotron.jpg);
	margin: 0;
}

.jumbotron img,
.jumbotron .name,
.jumbotron .whoami {
	display: inline-block;
	opacity: 0;
}

.jumbotron img {
	margin: 10px;
	border: 5px solid whitesmoke;
	animation: title-translate 1s 2s ease forwards;
}

.jumbotron .name {
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
	animation: title-translate 1s 2.5s ease forwards;
}

.jumbotron .whoami {
	font-size: 1.5em;
}

.jumbotron .whoami.first {
	animation: title-translate 0.5s 3s ease forwards;
}

.jumbotron .whoami.second {
	animation: title-translate 0.5s 3.5s ease forwards;
}

.jumbotron .whoami.third {
	animation: title-translate 0.5s 4s ease forwards;
}

@keyframes title-translate {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
/* ------------------------------------- */

/* style for slider */
.slider .container-fluid {
	padding: 50px 0;
	background-color: rgb(223, 162, 20);
	border-top: 6px solid rgb(52, 58, 64);
	border-bottom: 6px solid rgb(52, 58, 64);
}

.slider .d-block.w-75 {
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 2.5px rgba(70, 70, 70, 0.5);
}

.slider .carousel-control-next {
	margin-right: 10%;
}

.slider .carousel-control-prev {
	margin-left: 10%;
}

.slider p {
	font-weight: 200;
}
/* ------------------------------------- */

/* style for about me */
.about h2 {
	margin-bottom: 35px;
}

.section.about {
	background-image: url(../img/about.jpg);
	border-bottom: 6px solid rgb(52, 58, 64);
}

.about .container .row {
	margin-bottom: 25px;
	text-align: center;
	justify-content: center;
}

.about img {
	border: 5px solid whitesmoke;
	border-radius: 50%;
}

.about .container .row .col-md-9 .quotes {
	font-weight: 200;
	font-size: 1.8em;
	font-style: italic;
}

.about .container .row .col-md-9 .quotes::before,
.about .container .row .col-md-9 .quotes::after {
	content: open-quote;
	font-weight: 400;
	font-size: 2em;
	line-height: 0;
	position: relative;
	top: 15px;
}

.about .container .row .col-md-9 .quotes::after {
	content: close-quote;
}
/* ------------------------------------- */

/* style for portfolio */
.portfolio .container .row .col-md-12 {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	row-gap: 15px;
}

.portfolio .container .row .col-md-12 .portfolio-card {
	width: 100%;
	height: 28ch;
	cursor: pointer;
	background-color: transparent;
	transition: transform 0.75s ease;
	transform: scale(0.9);
}

.portfolio .container .row .col-md-12 .portfolio-card:hover {
	transform: scale(1);
}

.portfolio .container .row .col-md-12 .portfolio-card .inner-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.75s ease;
}

.portfolio .container .row .col-md-12 .portfolio-card:hover .inner-card {
	transform: rotateY(180deg);
}

.portfolio .container .row .col-md-12 img {
	width: 100%;
	height: 100%;
}

.portfolio .container .row .col-md-12 .portfolio-card .inner-card .front-card,
.portfolio .container .row .col-md-12 .portfolio-card .inner-card .back-card {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 4px solid whitesmoke;
	box-shadow: 0px 0px 6px 3px rgba(185, 185, 185, 0.5);
	backface-visibility: hidden;
}

.portfolio .container .row .col-md-12 .portfolio-card .inner-card .back-card {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 25px;
	transform: rotateY(180deg);
	background-color: rgb(223, 162, 20);
}
/* ------------------------------------- */

/* style for services */
.services .card {
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	border: 0;
	margin-bottom: 50px;
	transition: all 0.5s ease;
	box-shadow: 0px 18px 3px -10px rgba(215, 215, 215, 0.6);
}

.services .card:hover {
	transform: translateY(-18px);
	box-shadow: 0px 40px 6px -22px rgba(209, 209, 209, 0.5);
}

.services .card small {
	display: block;
	padding-bottom: 10px;
	color: rgb(19, 79, 92);
}

.services .card-body {
	min-height: 225px;
}

.services p {
	font-weight: 200;
}
/* ------------------------------------- */

/* style for contact */
.contact p {
	font-weight: 200;
}
/* ------------------------------------- */

/* style for biography */
.bio {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(70, 70, 70, 0.5);
	z-index: 999;
}

.bio .container {
	display: flex;
	justify-content: center;
	align-content: flex-end;
	z-index: 999;
}

.bio .container .card {
	overflow: hidden;
	margin-top: 12vh;
}

.bio:target {
	display: block;
}

.bio img {
	border-radius: 50%;
	border: 5px solid whitesmoke;
}
/* ------------------------------------- */

/* style for footer */
.footer {
	letter-spacing: 1px;
}

.footer p {
	margin: 2px;
	font-size: 0.9em;
}

.footer .foo a {
	font-weight: bold;
	text-decoration: none;
	color: whitesmoke;
}

.footer .foo {
	padding: 30px 0;
	text-align: center;
}

.footer .foo .social-media {
	padding: 5px 0;
}

.footer .foo .social-media a {
	padding: 0 5px;
}

.footer .foo .social-media a i {
	border-radius: 50%;
	font-size: 22px;
	padding: 3px;
}

.footer .foo .social-media a i:hover {
	background-color: rgb(223, 162, 20);
}
/* ------------------------------------- */

/* responsive break point */
@media screen and (max-width: 768px) {
	.services .container {
		padding: 0px 10%;
	}

	.jumbotron .name h1 {
		font-size: 1.55em;
	}

	.jumbotron .whoami {
		font-size: 0.75em;
	}
}
