/* Main Style */
html {
	position: relative;
}

input[type="text"]:focus,
button[type="button"]:focus {
	background-color: #52616b7e;
	box-shadow: none;
}

button[type="button"]:focus {
	background-color: #52616b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	margin-bottom: 200px;
	background-color: #c9d6df;
	color: #f0f5f9;
}

h1 {
	font-family: "Pacifico", cursive;
	font-size: 4em;
}

p {
	font-size: 1.2em;
}
/* ------------------------------------ */

/* Style for header */
.header {
	background-color: #c9d6df;
}

.header .jumbotron {
	height: 600px;
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}

.header .title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.search-input {
	font-weight: 400;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: #52616b7e;
	color: #f0f5f9 !important;
}

.submit {
	background-color: #52616b;
}

::placeholder {
	color: #f0f5f980 !important;
}
/* ------------------------------------ */

/* Style for main */
.main .dummy-text {
	color: #52616b88;
}

.main .search-result {
	color: #1e2022;
	display: none;
}

.main .movie-container {
	min-height: 900px;
	justify-content: center;
	align-content: center;
}

.main .card {
	border: none;
	background-color: #f0f5f9;
}

.main .card-body,
.main .col-result {
	color: #52616b;
	display: grid;
}

.main .show-details {
	font-weight: 500;
	border: 2px solid #52616b !important;
	justify-self: flex-start;
	align-self: flex-end;
}
/* ------------------------------------ */

/* Style for footer */
.foo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	background-color: #1e2022;
}

.foo .footer-content p {
	margin: 4px 0px;
	font-size: 1em;
}

.foo .footer-content a {
	padding: 2px;
	color: #f0f5f9;
	text-decoration: none;
}

.foo .footer-content .fab {
	font-size: 1.5em;
	padding: 3px;
}

.foo .footer-content .fab:hover {
	border-radius: 50%;
	color: #1e2022;
	background-color: #f0f5f9;
}
/* ------------------------------------ */

/* style for modal */
.modal .modal-content,
.modal li {
	color: #f0f5f9;
	background-color: #1e2022;
}

.modal li {
	border: 1px solid #f0f5f9;
}
/* ------------------------------------ */

/* Responsive Breakpoint */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	.card-img-top {
		height: 400px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.card-img-top {
		height: 300px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	body {
		font-size: 13px;
	}

	h1 {
		margin: 10px 0px !important;
	}

	.header .jumbotron,
	.footer .foo {
		padding: 0 5%;
	}

	.main .movie-container {
		padding: 0 10%;
	}

	.fas.fa-film {
		font-size: 9em !important;
		margin-right: 0 !important;
	}

	.card-img-top {
		height: auto;
	}

	.modal .col-md-3 {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		padding: 0;
	}
}
