/* Main Style */
html {
	position: relative;
}

input[type="text"]:focus,
button[type="button"]:focus {
	background-color: #52616b7e;
	box-shadow: none;
}

button[type="button"]:focus {
	background-color: #52616b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	padding-bottom: 180px;
	background-color: #c9d6df;
	color: #f0f5f9;
}

h1 {
	font-family: "Pacifico", cursive;
	font-size: 4em;
}

p {
	font-size: 1.2em;
}
/* ------------------------------------ */

/* Style for header */
.header .jumbotron {
	height: 700px;
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
}

.header .title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.search-input {
	font-weight: 400;
	border: none;
	outline: none;
	text-decoration: none;
	background-color: #52616b7e;
	color: #f0f5f9 !important;
}

.btn.option.submit {
	background-color: #52616b;
	width: 50px;
}

.btn.option.submit:hover {
	background-color: #52616b7e;
}

.option {
	background-color: #52616b7e;
	color: #f0f5f9;
	width: 90px;
}

.option:hover {
	background-color: #52616b;
}

::placeholder {
	color: #f0f5f980 !important;
}
/* ------------------------------------ */

/* Style for main */
.main .dummy-text {
	color: #52616b52;
}

.main .search-result {
	color: #1e2022;
	display: none;
}

.main .movie-container {
	min-height: 999px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 0.7fr));
	justify-content: center;
	align-content: center;
	gap: 30px;
}

.main .card {
	border: none;
	overflow: hidden;
	background-color: #f0f5f9;
	transition: all 250ms ease;
}

.main .card:hover {
	box-shadow: 0px 0px 9px 6px #52616b63;
}

.main .card-body,
.main .col-result {
	color: #1e2022 !important;
	display: grid;
}

.main .rating-star {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-bottom-right-radius: 5px;
	padding: 5px;
	background-color: #f0f5f9a9;
	color: #1e2022;
}

.main .fa-star {
	padding-right: 5px;
	text-shadow: 1px 1px 2px #52616b;
	color: rgb(235, 180, 0);
}

.main .show-details {
	font-weight: 500;
	border: 2px solid #52616b !important;
	justify-self: flex-start;
	align-self: flex-end;
}

.main .show-details:focus {
	box-shadow: none;
	outline: none;
}
/* ------------------------------------ */

/* Style for footer */
.foo {
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 180px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	background-color: #1e2022;
}

.foo .footer-content p {
	margin: 4px 0px;
	font-size: 1em;
}

.foo .footer-content a {
	padding: 2px;
	color: #f0f5f9;
	text-decoration: none;
}

.foo .footer-content .fab {
	font-size: 1.5em;
	padding: 3px;
}

.foo .footer-content .fab:hover {
	border-radius: 50%;
	color: #1e2022;
	background-color: #f0f5f9;
}
/* ------------------------------------ */

/* style for modal */
.modal .modal-content,
.modal li {
	color: #f0f5f9;
	background-color: #1e2022;
}

.modal li {
	border: 1px solid #f0f5f9;
}

.modal .image-detail-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.modal .img-fluid {
	border-radius: 5px;
}
/* ------------------------------------ */
.loading-screen {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1e202294;
	display: none;
}

.loading-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.spinner-border {
	width: 9em;
	height: 9em;
}
/* Responsive Breakpoint */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	.card-img-top {
		height: 450px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.card-img-top {
		height: 500px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	body {
		font-size: 13px;
		padding-bottom: 150px;
	}

	h1 {
		margin: 10px 0px !important;
	}

	.header .jumbotron,
	.main .movie-container,
	.footer .foo {
		padding: 0 5%;
	}

	.fas.fa-film {
		font-size: 9em !important;
		margin-right: 0 !important;
	}

	.card-img-top {
		height: auto;
	}

	.foo {
		height: 150px;
	}

	.modal .col-md-4 {
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
		padding: 0;
	}
}
