@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  opacity: 0.5 !important;
  color: #ffffff !important;
}

:-ms-input-placeholder {
  opacity: 0.5 !important;
  color: #ffffff !important;
}

::-ms-input-placeholder {
  opacity: 0.5 !important;
  color: #ffffff !important;
}

::placeholder {
  opacity: 0.5 !important;
  color: #ffffff !important;
}

html {
  position: relative;
  z-index: 999;
  overflow-x: hidden !important;
}

html body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  overflow-x: hidden !important;
}

html body section {
  padding-top: 100px;
  padding-bottom: 160px;
}

html body section .social-media * {
  color: #ffffff;
}

html body .bg-default {
  background-color: #432818;
  background-image: url(../img/cinnamon-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vmax;
}

html body .navbar .nav-container {
  font-weight: 500;
  font-size: 1rem;
}

html body .navbar .nav-container .navbar-brand {
  margin-top: -20px;
}

html body .navbar .nav-container .navbar-brand .nav-icon-title {
  font-weight: 700;
  color: #ffffff;
}

html body .navbar .nav-container #navbarSupportedContent {
  margin-left: 40px;
}

html body .navbar .nav-container #navbarSupportedContent .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}

html body .navbar .nav-container #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}

html body .navbar .nav-container #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

html body .navbar .nav-container #navbarSupportedContent .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

html body .navbar .nav-container #navbarSupportedContent .search-box .search-field {
  border: none;
  font-size: 0.8rem;
  padding: 18px;
  border-radius: 40px;
  width: 1px;
  height: 1.6em;
  color: #ffffff;
  background-color: rgba(108, 117, 125, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

html body .navbar .nav-container #navbarSupportedContent .search-box .search-icon {
  padding: 10px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

html body .navbar .nav-container #navbarSupportedContent .search-box .open-close {
  width: 22vmax !important;
  padding: 18px 32px;
}

@media screen and (max-width: 992px) {
  html body .navbar .nav-container #navbarSupportedContent .search-box .open-close {
    width: 100% !important;
  }
}

html body .navbar .nav-container #navbarSupportedContent .search-box .rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

html body .jumbotron {
  height: 666px;
  overflow: hidden;
}

html body .jumbotron .btn-readmore {
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html body .about {
  color: #2f312e;
  background-color: #ffffff;
}

html body .about .fa-chevron-circle-left,
html body .about .fa-chevron-circle-right {
  color: #6c757d;
}

html body .about .img-cinnamon-about {
  max-width: 28vw;
  margin: 12px;
  border-radius: 12px;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(160, 160, 160, 0.5)) drop-shadow(-2px -2px 2px rgba(160, 160, 160, 0.75));
          filter: drop-shadow(4px 4px 4px rgba(160, 160, 160, 0.5)) drop-shadow(-2px -2px 2px rgba(160, 160, 160, 0.75));
}

html body .about .carousel-control-prev,
html body .about .carousel-control-next {
  width: 5%;
}

html body .product {
  color: #2f312e;
  background-color: #f2f4f3;
}

html body .product .gallery-product {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "gal-1 gal-3 gal-2" "gal-4 gal-3 gal-5" "gal-6 gal-6 gal-5";
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -ms-grid-rows: (minmax(50px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  gap: 12px;
}

html body .product .gallery-product img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 5px 2.5px rgba(160, 160, 160, 0.7);
          box-shadow: 0 0 5px 2.5px rgba(160, 160, 160, 0.7);
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html body .product .gallery-product img:hover {
  -webkit-box-shadow: 0 0 10px 5px rgba(160, 160, 160, 0.4);
          box-shadow: 0 0 10px 5px rgba(160, 160, 160, 0.4);
  -webkit-transform: scale(1);
          transform: scale(1);
}

html body .product .gallery-product .gal-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gal-1;
}

html body .product .gallery-product .gal-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: gal-2;
}

html body .product .gallery-product .gal-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: gal-3;
}

html body .product .gallery-product .gal-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gal-4;
}

html body .product .gallery-product .gal-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: gal-5;
}

html body .product .gallery-product .gal-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: gal-6;
}

html body .product .btn-contact-us {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid;
  padding: 6px 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html body .product .img-cinnamon-product {
  width: 100%;
  height: auto;
  margin-top: -16px;
}

html body .feature {
  background-color: #432818;
}

html body .team {
  background-color: #432818;
  background-image: url(../img/cinnamon-7.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

html body .team .img-profile {
  width: 10em;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-filter: drop-shadow(6px 6px 4px rgba(223, 223, 223, 0.5)) drop-shadow(-3px -3px 2px rgba(214, 214, 214, 0.5));
          filter: drop-shadow(6px 6px 4px rgba(223, 223, 223, 0.5)) drop-shadow(-3px -3px 2px rgba(214, 214, 214, 0.5));
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html body .team .img-profile:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

html body .team blockquote::before,
html body .team blockquote::after {
  content: open-quote;
  font-size: 2em;
  line-height: 0;
  position: relative;
  top: 10px;
}

html body .team blockquote::after {
  content: close-quote;
}

html body .contact {
  padding-bottom: 100px !important;
  background-color: #343a40;
}

html body .footer {
  background-color: #212529;
}

html body .footer .copyright {
  font-weight: 600;
  font-size: 0.8rem;
}

html body .section-on-top-btn {
  display: none;
}

html body .scroll-top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  cursor: pointer;
  font-size: 1.5em;
  bottom: 4vh;
  right: 4vw;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background: #6c757d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: button-scroll-top 3s ease infinite;
          animation: button-scroll-top 3s ease infinite;
}

html body .scroll-top-btn i {
  margin: auto;
  padding: 4px;
}

html body .scroll-top-btn:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(245, 245, 245, 0.5);
          box-shadow: 0px 0px 10px 2px rgba(245, 245, 245, 0.5);
  opacity: 1;
}

@-webkit-keyframes button-scroll-top {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes button-scroll-top {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding-bottom: 0px !important;
    margin-top: 0px !important;
  }
  .navbar .navbar-brand {
    margin-top: 0px !important;
  }
  .navbar .navbar-nav {
    margin-top: 0px !important;
    margin-right: 0px !important;
  }
  .navbar .navbar-nav .nav-item {
    margin-right: 0px !important;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  html body section .section-title {
    text-align: center !important;
  }
  .about .row .carousel .carousel-inner .carousel-item .carousel-flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .about .row .carousel .carousel-inner .carousel-item .carousel-flex div p {
    text-align: center !important;
  }
  .about .row .carousel .carousel-inner .carousel-item .carousel-flex div p span {
    text-align: center !important;
  }
  .about .row .img-cinnamon-about {
    max-width: 75% !important;
  }
  .product .img-cinnamon-product {
    margin-top: 16px !important;
  }
  .team .row .img-profile-container-1 {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .team .row .img-profile-container-2 {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
}
/*# sourceMappingURL=main.css.map */