@media screen and (max-width: 992px) {
	// navbar
	.navbar {
		padding-bottom: 0px !important;
		margin-top: 0px !important;

		.navbar-brand {
			margin-top: 0px !important;
		}

		.navbar-nav {
			margin-top: 0px !important;
			margin-right: 0px !important;

			.nav-item {
				margin-right: 0px !important;

				.nav-link {
					padding: 0px !important;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	html {
		body {
			section {
				.section-title {
					text-align: center !important;
				}
			}
		}
	}

	// about
	.about {
		.row {
			.carousel {
				.carousel-inner {
					.carousel-item {
						.carousel-flex {
							flex-direction: column-reverse !important;

							div {
								p {
									text-align: center !important;

									span {
										text-align: center !important;
									}
								}
							}
						}
					}
				}
			}

			.img-cinnamon-about {
				max-width: 75% !important;
			}
		}
	}

	// product
	.product {
		.img-cinnamon-product {
			margin-top: 16px !important;
		}
	}

	// team
	.team {
		.row {
			.img-profile-container-1 {
				justify-content: flex-start !important;
			}

			.img-profile-container-2 {
				justify-content: flex-end !important;
			}
		}
	}
}
